# Build environments and artifacts
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.idea/
.vscode
.history
__pycache__/

Secret
Private
*[Ss][Ee][Cc][Rr][Ee][Tt]*
*[Pp][Rr][Ii][Vv][Aa][Tt][Ee]*
*[Tt][Ee][Mm][Pp]*

Obsolete
0 TODO
Plot_Temp_Scripts
Multiwfn_executable
My_Lib_Plot_Editor_Profiles
Tools